@import url("https://use.typekit.net/wsw4wat.css");
@import url("https://use.typekit.net/hih0thz.css");

* {
  
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  
  background-color: dodgerblue;
  
}

.sidebar {
  
  background: #171717;
  width: 350px;
  height: 100vh;
  float: right;
  transition: all, ease 0.7s;
  
}

.sidebar.is-closed {
  transform: translateX(22em);
}

.sidebar-toggle {
  position: absolute;
  outline: none;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 13px;
  right: 28em;
  background-color: transparent;
  transform: rotate(0deg);
  cursor: pointer;
  transition: 0.7s;
}


.sidebar-toggle.is-closed {
  transform: translateX(27em) rotate(180deg);
}

.mainTitle {
  
  color: white;
  font-family: flegrei, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin: 20px;
  
}

.sidebar-nav {
  
  margin-right: 25px;
  padding-top: 45px;
  
}

.mainLinks {
  
  font-family: vortice-concept,serif;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: block;
  padding: 20px;
  text-align: right;
  transition: all, ease 0.8s;
  
}

.linkOne:hover {
  
  color: #fa4d41;
  
}

.linkTwo:hover {
  
  color: #ffe882;
  
}

.linkThree:hover {
  
  color: #82ff8f;
  
}

.content {
  
  margin: 0;
  padding: 0;
  
}

.title {
  
  padding-top: 50px;
  
}

.titles {
  
  display: block;
  block-size: 55px;
  
}

.titleName {
  
  font-family: abril-fatface,serif;
  font-size: 65px;
  margin-left: 60px;
  
}

.titleArt {
  
  font-size: 55px;
  font-family: flegrei, sans-serif;
  margin-left: 150px;
  
}

.titleDigital {
 
  font-size: 60px;
  font-family: sarina,sans-serif;
  margin-left: 180px;
  
}
